:root {
  --primary: #000000;
  --bg: rgb(235, 233, 233);
  background-blend-mode: color-burn;
}
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--bg);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(132, 220, 247, 0.479);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 9vh;
}

.navbar .navbar-logo img {
  width: 90px;
  margin-top: -6vh;
  height: 90px;
  margin-left: -10vh;
  position: absolute;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  position: absolute;
  margin-left: -140vh;
  margin-top: 7vh;
  stroke-width: 10px;
}
.navbar .navbar-extra .search {
  color: white;
  position: absolute;
  margin-left: -150vh;
  margin-top: 7vh;
  display: none;
}

#hamburger-menu {
  display: none;
}
.navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  position: absolute;
  margin-left: 30vh;
  margin-top: 2vh;
}
.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: bold;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
section {
  margin: auto;
  min-height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(2) {
  background-color: rgb(17, 0, 167);
}
section:nth-child(3) {
  background-color: rgb(17, 0, 167);
}
section:nth-child(4) {
  color: #000000;
  background-color: rgb(17, 0, 167);
}
section:nth-child(5) {
  background-color: rgb(17, 0, 167);
  color: #000000;
}
section:nth-child(6) {
  color: #000000;
  background-color: rgb(17, 0, 167);
}
section:nth-child(7) {
  color: #000000;
  background-color: rgb(17, 0, 167);
  height: 90px;
}

section .container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section h1 {
  font-size: 50px;
  text-align: center;
  justify-content: center;
}
section h2 {
  text-align: center;
  justify-content: center;
  font-size: 40px;
}

section h3 {
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

section p {
  font-size: 30px;
  text-align: center;
}

.background h1 {
  text-align: left;
  margin-top: -300px;
  margin-left: 50px;
  width: 700px;
  height: auto;
}

.container1 {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.paketharga {
  border-radius: 20px;
  padding: 3rem;
  color: aliceblue;
  border: 2px solid white;
  background-color: rgb(0, 0, 156);
  cursor: pointer;
  transition: 0.8s;
}
.paketharga:hover {
  transform: scale(1.1);
}
.icons {
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.icons h3 {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}
.icons img {
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  width: 6vh;
}
.butt {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.whatsaap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 10;
  margin-top: 80vh;
  margin-right: 20px;
  right: 0;
  z-index: 9999;
  height: 10vh;
  width: 30vh;
}
.whatsaap h2 {
  color: rgb(255, 102, 0);
  font-size: 20px;
  animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
.whatsaap img {
  height: 7vh;
  width: 7vh;
}
/* media query */
@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .navbar {
    height: 5vh;
    margin: auto;
    padding: 0.5rem 23%;
  }
  .navbar .navbar-logo {
    display: inline-block;
    margin-left: 1vh;
  }
  .navbar .navbar-logo img {
    width: 5vh;
    height: 5vh;
    margin-top: -2vh;
    margin-left: -8vh;
    z-index: 9999;
  }
  #hamburger-menu {
    display: inline-block;
    margin-top: -10px;
    margin-left: 40px;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 20rem;
    height: auto;
    border-radius: 20px;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 65);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .icons img {
    width: 60px;
  }
  .whatsaap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    position: fixed;
    top: 0;
    left: 10;
    margin-top: 80vh;
    margin-right: 10px;
    right: 0;
    z-index: 9999;
    height: 10vh;
    width: 20vh;
  }
  .whatsaap h2 {
    color: rgb(255, 102, 0);
    font-size: 18px;
    margin-left: 1vh;
    animation: typing 1.5s steps(10) infinite;
  }
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }
  .whatsaap img {
    height: 7vh;
    margin-left: 1vh;
    width: 7vh;
  }
}
video {
  border-radius: 20px;
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
