:root {
  --primary: #000000;
  --bg: rgb(43, 117, 253);
  background-blend-mode: color-burn;
}
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--bg);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(132, 220, 247, 0.479);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 9vh;
}

.navbar .navbar-logo img {
  width: 90px;
  margin-top: -6vh;
  height: 90px;
  margin-left: -10vh;
  position: absolute;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  position: absolute;
  margin-left: -140vh;
  margin-top: 7vh;
  stroke-width: 10px;
}
.navbar .navbar-extra .search {
  color: white;
  position: absolute;
  margin-left: -150vh;
  margin-top: 7vh;
  display: none;
}

#hamburger-menu {
  display: none;
}
.navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  position: absolute;
  margin-left: 50vh;
  margin-top: 2vh;
}
.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: bold;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
section {
  margin: auto;
  min-height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  display: none;
}
.banner {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
.whatsaap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vh;
  position: fixed;
  top: 0;
  left: 10;
  margin-top: 80vh;
  margin-right: 10px;
  right: 0;
  z-index: 9999;
  height: 10vh;
  width: 50vh;
}
.whatsaap h2 {
  color: rgb(255, 102, 0);
  font-size: 18px;
  margin-left: 1vh;
  animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
.whatsaap img {
  height: 7vh;
  margin-left: 1vh;
  width: 7vh;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .navbar {
    height: 5vh;
    margin: auto;
    padding: 0.5rem 23%;
  }
  .navbar .navbar-logo {
    display: inline-block;
    margin-left: 1vh;
  }
  .navbar .navbar-logo img {
    width: 5vh;
    height: 5vh;
    margin-top: -2vh;
    margin-left: -8vh;
    z-index: 9999;
  }
  #hamburger-menu {
    display: inline-block;
    margin-top: -10px;
    margin-left: 40px;
  }

  .navbar .navbar-nav {
    position: absolute;
    /* background-color: #fff; */
    background-image: url("images/bg-nav.png");
    background-size: cover;
    top: 100%;
    right: -100%;
    width: 20rem;
    height: auto;
    border-radius: 20px;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: aliceblue;
    display: block;
    margin: 1.5rem;
    margin-left: 40px;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(31, 40, 51, 90%);
    border-radius: 20px;
    width: 10vh;
    align-items: center;
    justify-content: center;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  img {
    display: flex;
  }
  .banner {
    display: block;
    width: 100%;
    height: auto;
  }
  video {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
  }
  .whatsaap {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    position: fixed;
    top: 0;
    left: 76%;
    margin-top: 80vh;
    right: 0;
    z-index: 9999;
    height: 15vh;
    width: 50vh;
  }
  .wa img {
    width: 7vh;
    height: 7vh;
    margin-left: 1vh;
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  }
  .whatsaap img {
    width: 7vh;
    height: 7vh;
  }
  .whatsaap h2 {
    flex-wrap: wrap;
    width: 10px;
    margin-left: 1vh;
    color: orangered;
  }
  .bannerpromo {
    display: none;
  }
}
