:root {
  --primary: #000000;
  --bg: rgb(235, 233, 233);
  background-blend-mode: color-burn;
}
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--bg);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(132, 220, 247, 0.479);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 9vh;
}

.navbar .navbar-logo img {
  width: 110px;
  margin-top: -8vh;
  height: 110px;
  margin-left: -13vh;
  position: absolute;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  position: absolute;
  margin-left: -140vh;
  margin-top: 7vh;
  stroke-width: 10px;
}
.navbar .navbar-extra .search {
  color: white;
  position: absolute;
  margin-left: -150vh;
  margin-top: 7vh;
  display: none;
}

#hamburger-menu {
  display: none;
}
.navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  position: absolute;
  margin-left: 60vh;
  margin-top: 2vh;
}
.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: bold;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/*bagian banner*/
.banner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: 0vh;
  background-color: #034b9d;
  margin-top: 0vh;
}
.container1 .icon1 {
  position: relative;
  color: white;
  width: 35vh;
  height: auto;
  margin-left: 5vh;
  margin-top: 0vh;
  font-size: 25px;
}
.container1 .icon1 img {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  margin-left: 5vh;
}
.container1 .icon2 {
  position: relative;
  color: white;
  width: 40vh;
  height: auto;
  margin-left: 5vh;
  margin-top: 0vh;
  font-size: 25px;
}
.container1 .icon2 img {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  margin-left: 10vh;
}
.container1 .icon3 {
  position: relative;
  color: white;
  width: 35vh;
  height: auto;
  margin-left: 5vh;
  margin-top: 0vh;
  font-size: 25px;
}
.container1 .icon3 img {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  margin-left: 10vh;
}
.container1 .icon4 {
  position: relative;
  color: white;
  width: 40vh;
  height: auto;

  margin-left: 5vh;
  margin-top: 0vh;
  font-size: 25px;
}
.container1 .icon4 img {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  margin-left: 10vh;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 120vh;
  margin-top: 1rem;
}

.container2 .paketharga {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.container2 .paketharga .penjelasan {
  position: absolute;
  color: rgb(0, 0, 0);
  margin-top: 5vh;
  margin-left: 70vh;
}

/* paket */
.container2 .paketharga .kotakharga {
  background-color: rgb(255, 255, 255);
  height: 84vh;
  border-radius: 10px;
  padding: -2vh;
  text-align: center;
  width: 30vh;
  margin-top: 20vh;
  margin-left: 8vh;
}
.container2 .paketharga .kotakharga .detail {
  color: black;
  text-align: left;
  border-spacing: 2px;
  word-spacing: 10px;
}
.container2 .paketharga .kotakharga .biru {
  background-color: rgb(0, 0, 91);
  border-radius: 10px;
}
.container2 .paketharga .kotakharga h1 {
  background-color: rgb(0, 0, 91);
  font-size: 18px;
  color: #eee;
  width: 160px;
  text-align: center;
  word-spacing: 0px;
  margin-left: 2vh;
  margin-top: 5vh;
  margin-right: 2vh;
  border-radius: 10px;
}
.container2 .paketharga .kotakharga .harga {
  color: black;
  background-color: transparent;
  font-size: 30px;
}
.container2 .paketharga1 .kotakharga {
  background-color: rgb(255, 255, 255);
  height: 84vh;
  border-radius: 10px;
  padding: -2vh;
  text-align: center;
  width: 30vh;
  margin-top: 20vh;
  margin-left: 10vh;
}
.container2 .paketharga1 .kotakharga .detail {
  color: black;
  text-align: left;
  border-spacing: 2px;
  word-spacing: 10px;
}
.container2 .paketharga1 .kotakharga .biru {
  background-color: rgb(0, 0, 91);
  border-radius: 10px;
}
.container2 .paketharga1 .kotakharga h1 {
  background-color: rgb(0, 0, 91);
  font-size: 18px;
  color: #eee;
  width: 160px;
  text-align: center;
  word-spacing: 0px;
  margin-left: 2vh;
  margin-top: 5vh;
  margin-right: 2vh;
  border-radius: 10px;
}
.container2 .paketharga1 .kotakharga .harga {
  color: black;
  background-color: transparent;
  font-size: 30px;
}
.container2 .paketharga2 {
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  margin-top: -107vh;
  margin-left: 118vh;
}
.container2 .paketharga2 .kotakharga {
  background-color: rgb(255, 255, 255);
  height: 84vh;
  border-radius: 10px;
  padding: -2vh;
  text-align: center;
  width: 30vh;
  margin-top: 20vh;
  margin-left: 8vh;
}
.container2 .paketharga2 .kotakharga .detail {
  color: black;
  text-align: left;
  border-spacing: 2px;
  word-spacing: 10px;
}
.container2 .paketharga2 .kotakharga .biru {
  background-color: rgb(0, 0, 91);
  border-radius: 10px;
}
.container2 .paketharga2 .kotakharga h1 {
  background-color: rgb(0, 0, 91);
  font-size: 18px;
  color: #eee;
  width: 160px;
  text-align: center;
  word-spacing: 0px;
  margin-left: 2vh;
  margin-top: 5vh;
  margin-right: 2vh;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.container2 .paketharga2 .kotakharga .harga {
  color: black;
  background-color: transparent;
  font-size: 30px;
}
.container2 .selengkapnya {
  background-color: rgb(0, 0, 91);
  margin-left: 84vh;
  color: white;
  font-weight: 1000;
  font-size: 20px;
  height: 5vh;
  padding: 0.5rem;
  border-radius: 10px;
  align-items: center;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
}

.container3 .gambar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.container3 .gambar img {
  margin-left: 99vh;
  width: 100vh;
  height: 80vh;
  margin-top: 10vh;
  border-radius: 30px;
}
.container3 .gambar h1 {
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-left: 0vh;
  width: 50vh;
  margin-top: -100vh;
  padding: 8rem;
  text-align: left;
}
.container3 .gambar p {
  color: rgb(26, 26, 26);
  font-size: 18px;
  margin-left: -70vh;
  width: 50vh;
  margin-top: -58vh;
  text-align: left;
}

.container4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.container4 .towe {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.container4 .towe img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
.container4 .towe .ss {
  color: white;
  position: absolute;
  margin-top: 25vh;
  width: 35vh;
  z-index: 9999;
  font-size: 55px;
  text-shadow: black;
  margin-left: 30vh;
  font-weight: 9999;
}
.container4 .towe .dd {
  z-index: 9999;
  color: white;
  position: absolute;
  margin-top: 35vh;
  width: 35vh;
  font-size: 55px;
  text-shadow: black;
  margin-left: 30vh;
  font-weight: 9999;
}
.container4 .towe p {
  color: white;
  position: absolute;
  margin-top: 50vh;
  width: 50vh;
  font-weight: 1000;
  font-size: 20px;
  text-shadow: black;
  margin-left: 30vh;
}
.container4 .c1 {
  height: 155px;
  position: absolute;
  width: 155px;
  margin-left: 20vh;
  margin-top: 20vh;
}
.whatsaap {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: 0vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 10;
  margin-top: 90vh;
  right: 0;
  z-index: 9999;
}
.whatsaap img {
  height: 10vh;
  width: 10vh;
}
/*footer*/
.container5 {
  width: 100%;
  height: 48%;
  display: block;
  position: relative;
  background-color: #000000;
}
.container5 .social .tt {
  margin-left: 100vh;
}
.container5 .credit {
  margin-left: 75vh;
}
/* media queries */

/* laptop */
@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: "poppins", sans-serif;
    background-color: var(--bg);
    color: var(--bg);
    height: 90vh;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(132, 220, 247, 0.479);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 9vh;
  }
  .navbar .navbar-logo img {
    width: 50px;
    margin-top: -5vh;
    height: 50px;
    margin-left: -2vh;
    position: absolute;
  }

  #hamburger-menu {
    display: inline-block;
    margin-left: -2vh;
    z-index: 9999;
    margin-top: -4vh;
  }
  .navbar .navbar-nav {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 100%;
    width: 15rem;
    height: 60vh;
    border-radius: 20px;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    left: -58%;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 20px;
  }
  .navbar .navbar-nav a:hover {
    color: green;
  }

  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(123, 6, 78);
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  /*bagian banner*/
  .banner {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    margin-left: 0vh;
    margin-top: -70vh;
    height: 55vh;
  }
  .container1 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 40%;
    margin-left: 40vh;
    margin-top: -51vh;
  }
  .container1 .icon1 {
    position: relative;
    color: white;
    width: 13vh;
    height: 12vh;
    margin-left: 1vh;
    margin-top: 3vh;
    font-size: 15px;
  }
  .container1 .icon1 img {
    width: 60px;
    height: 60px;
    margin-top: 5vh;
    margin-left: 5vh;
  }
  .container1 .icon2 {
    position: relative;
    color: white;
    width: 15vh;
    height: 12vh;
    margin-left: 5vh;
    margin-top: 3vh;
    font-size: 15px;
  }
  .container1 .icon2 img {
    width: 60px;
    height: 60px;
    margin-top: 5vh;
    margin-left: 5vh;
  }
  .container1 .icon3 {
    position: relative;
    color: white;
    width: 13vh;
    height: 12vh;
    margin-left: 1vh;
    margin-top: 3vh;
    font-size: 15px;
  }
  .container1 .icon3 img {
    width: 60px;
    height: 60px;
    margin-top: 5vh;
    margin-left: 5vh;
  }
  .container1 .icon4 {
    position: relative;
    color: white;
    width: 14vh;
    height: 13vh;
    margin-left: 20vh;
    margin-top: -15.5vh;
    font-size: 15px;
  }
  .container1 .icon4 img {
    width: 60px;
    height: 60px;
    margin-top: 5vh;
    margin-left: 5vh;
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 80vh;
    margin-top: -50vh;
  }

  .container2 .paketharga {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 80%;
    margin-left: 10vh;
  }

  .container2 .paketharga .penjelasan {
    position: absolute;
    color: rgb(0, 0, 0);
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 12px;
  }

  /* paket */
  .container2 .paketharga .kotakharga {
    background-color: rgb(255, 255, 255);
    height: 41vh;
    border-radius: 10px;
    padding: -2vh;
    text-align: center;
    width: 15vh;
    margin-top: 20vh;
    margin-left: 5vh;
  }
  .container2 .paketharga .kotakharga .detail {
    color: black;
    text-align: left;
    font-size: 13px;
    border-spacing: 2px;
    word-spacing: 10px;
    text-align: center;
  }
  .container2 .paketharga .kotakharga .biru {
    background-color: rgb(0, 0, 91);
    border-radius: 10px;
  }
  .container2 .paketharga .kotakharga h1 {
    background-color: rgb(0, 0, 91);
    font-size: 15px;
    color: #eee;
    width: 140px;
    text-align: center;
    word-spacing: 0px;
    margin-left: 0vh;
    margin-top: 1vh;
    border-radius: 10px;
  }
  .container2 .paketharga .kotakharga .harga {
    color: black;
    background-color: transparent;
    font-size: 25px;
    margin-top: 0vh;
    text-align: center;
  }
  .container2 .paketharga1 .kotakharga {
    background-color: rgb(255, 255, 255);
    height: 41vh;
    border-radius: 10px;
    padding: -2vh;
    text-align: center;
    width: 15vh;
    margin-top: -53.3vh;
    margin-left: 55vh;
  }
  .container2 .paketharga1 .kotakharga .detail {
    color: black;
    text-align: left;
    font-size: 13px;
    border-spacing: 2px;
    word-spacing: 10px;
    text-align: center;
  }
  .container2 .paketharga1 .kotakharga .biru {
    background-color: rgb(0, 0, 91);
    border-radius: 10px;
  }
  .container2 .paketharga1 .kotakharga h1 {
    background-color: rgb(0, 0, 91);
    font-size: 15px;
    color: #eee;
    width: 140px;
    text-align: center;
    word-spacing: 0px;
    margin-left: 0vh;
    margin-top: 1vh;
    border-radius: 10px;
  }
  .container2 .paketharga1 .kotakharga .harga {
    color: black;
    background-color: transparent;
    font-size: 25px;
    margin-top: 0vh;
    text-align: center;
  }
  .container2 .paketharga2 {
    display: none;
  }
  .container2 .paketharga2 .kotakharga {
    display: none;
  }
  .container2 .paketharga2 .kotakharga .detail {
    display: none;
  }
  .container2 .paketharga2 .kotakharga .biru {
    display: none;
  }
  .container2 .paketharga2 .kotakharga h1 {
    display: none;
  }
  .container2 .paketharga2 .kotakharga .harga {
    display: none;
  }
  .container2 .selengkapnya {
    background-color: rgb(0, 0, 91);
    margin-left: 35vh;
    margin-top: -10vh;
    color: white;
    font-weight: 1000;
    font-size: 15px;
    height: 3vh;
    padding: 0.5rem;
    border-radius: 10px;
    align-items: center;
  }

  .container3 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 60vh;
    margin-top: 5vh;
  }

  .container3 .gambar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .container3 .gambar img {
    margin-left: 20vh;
    width: 40vh;
    height: 30vh;
    margin-top: 6vh;
    border-radius: 30px;
  }
  .container3 .gambar h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 13vh;
    width: 40vh;
    margin-top: -7vh;
    height: 1vh;
  }
  .container3 .gambar p {
    color: rgb(26, 26, 26);
    font-size: 13px;
    margin-left: 16vh;
    width: 70%;
    margin-top: -4vh;
    text-align: left;
  }

  .container4 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 50%;
  }
  .container4 .towe {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .container4 .towe img {
    width: 100%;
    object-fit: cover;
  }
  .container4 .towe .ss {
    color: white;
    position: absolute;
    margin-top: 10vh;
    width: 5vh;
    z-index: 9999;
    font-size: 35px;
    text-shadow: black;
    margin-left: 10vh;
    font-weight: 9999;
  }
  .container4 .towe .dd {
    z-index: 9999;
    color: white;
    position: absolute;
    margin-top: 15vh;
    width: 5vh;
    font-size: 35px;
    text-shadow: black;
    margin-left: 10vh;
    font-weight: 9999;
  }
  .container4 .towe p {
    color: white;
    position: absolute;
    margin-top: 25vh;
    width: 40vh;
    font-weight: 1000;
    font-size: 13px;
    text-shadow: black;
    margin-left: 10vh;
  }
  .container4 .c1 {
    height: 155px;
    position: absolute;
    width: 155px;
    margin-left: 8vh;
    margin-top: 5vh;
  }
  .whatsaap {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 0vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 10;
    margin-top: 90vh;
    right: 0;
    z-index: 9999;
  }
  .whatsaap img {
    height: 10vh;
    width: 10vh;
  }
  /*footer*/
  .container5 {
    width: 90%;
    display: block;
    height: 5vh;
    margin-top: 6vh;
    position: relative;

    background-color: #034b9d;
  }
  .container5 .social .tt {
    margin-left: 40vh;
  }
  .container5 .credit {
    margin-left: 33vh;
    width: 20vh;
  }
  .container5 a {
    color: black;
  }
}
/* mobile phone */

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(132, 220, 247, 0.479);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 4vh;
  }
  .navbar .navbar-logo img {
    width: 50px;
    margin-top: -2.5vh;
    height: 50px;
    margin-left: -2vh;
    position: absolute;
  }

  #hamburger-menu {
    display: inline-block;
    margin-left: -2vh;
    z-index: 9999;
    overflow: hidden;
    margin-top: -1.5vh;
  }
  .navbar .navbar-nav {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 100%;
    width: 15rem;
    height: 60vh;
    border-radius: 20px;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    left: -58%;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 20px;
  }
  .navbar .navbar-nav a:hover {
    color: green;
  }

  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(123, 6, 78);
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  /*bagian banner*/

  .banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
  }
  .banner img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    margin-left: 0vh;
    margin-top: -70vh;
    height: auto;
  }
  .container1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: 0vh;

    margin-top: -62vh;
    background-color: rgb(119, 200, 253);
  }
  .container1 .icon1 {
    position: relative;
    color: white;
    width: 18vh;
    height: 15vh;
    margin-left: 8vh;
    margin-top: 0vh;
    font-size: 12px;
  }
  .container1 .icon1 img {
    width: 50px;
    height: auto;
    margin-top: 2vh;
    margin-left: 3vh;
  }
  .container1 .icon2 {
    position: relative;
    color: white;
    width: 21vh;
    height: 15vh;
    margin-left: 1vh;
    margin-top: 0vh;
    font-size: 12px;
  }
  .container1 .icon2 img {
    width: 50px;
    height: 50px;
    margin-top: 2vh;
    margin-left: 3.75vh;
  }
  .container1 .icon3 {
    position: relative;
    color: white;
    width: 21vh;
    height: 15vh;
    margin-left: 7vh;
    margin-top: 0vh;
    font-size: 12px;
  }
  .container1 .icon3 img {
    width: 50px;
    height: 50px;
    margin-top: 2vh;
    margin-left: 3vh;
  }
  .container1 .icon4 {
    position: relative;
    color: white;
    width: 21vh;
    height: 15vh;
    margin-left: -3vh;
    margin-top: 0vh;
    font-size: 12px;
  }
  .container1 .icon4 img {
    width: 50px;
    height: 50px;
    margin-top: 2vh;
    margin-left: 3.5vh;
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    margin-top: 0vh;
  }

  .container2 .paketharga {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 1rem;
    margin-left: 1vh;
  }

  .container2 .paketharga .penjelasan {
    position: absolute;
    color: rgb(0, 0, 0);
    margin-top: 5vh;
    margin-left: 7vh;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 2rem;
  }

  /* paket */
  .container2 .paketharga .kotakharga {
    background-color: rgb(255, 255, 255);
    width: 20vh;
    margin-left: 15vh;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .container2 .paketharga .kotakharga .detail {
    color: black;
    text-align: left;
    font-size: 13px;
    border-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
  }
  .container2 .paketharga .kotakharga .biru {
    background-color: rgb(0, 0, 91);
    border-radius: 10px;
  }
  .container2 .paketharga .kotakharga h1 {
    background-color: rgb(0, 0, 91);
    font-size: 12px;
    color: #eee;
    width: 120px;
    text-align: center;
    justify-content: center;
    margin-left: 4vh;
    padding: 0.5rem;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 10px;
  }
  .container2 .paketharga .kotakharga .harga {
    color: black;
    background-color: transparent;
    font-size: 20px;
    margin-top: 0vh;
    text-align: center;
  }
  .container2 .paketharga1 .kotakharga {
    display: none;
  }
  .container2 .paketharga1 .kotakharga .detail {
    display: none;
  }
  .container2 .paketharga1 .kotakharga .biru {
    display: none;
  }
  .container2 .paketharga1 .kotakharga h1 {
    display: none;
  }
  .container2 .paketharga1 .kotakharga .harga {
    display: none;
  }
  .container2 .paketharga2 {
    display: none;
  }
  .container2 .paketharga2 .kotakharga {
    display: none;
  }
  .container2 .paketharga2 .kotakharga .detail {
    display: none;
  }
  .container2 .paketharga2 .kotakharga .biru {
    display: none;
  }
  .container2 .paketharga2 .kotakharga h1 {
    display: none;
  }
  .container2 .paketharga2 .kotakharga .harga {
    display: none;
  }
  .container2 .selengkapnya {
    background-color: rgb(0, 0, 91);
    justify-content: center;
    margin-top: 6vh;
    margin-left: 5vh;
    color: white;
    font-weight: 1000;
    font-size: 12px;
    height: 3vh;
    padding: 0.5rem;
    border-radius: 10px;
    align-items: center;
  }

  .container3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    background-color: #034b9d;
  }

  .container3 .gambar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 110%;
  }
  .container3 .gambar img {
    margin-left: 4vh;
    width: 35vh;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    border-radius: 30px;
  }
  .container3 .gambar h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 0vh;
    width: 70vh;
    margin-top: -11vh;
    padding: 8rem;
    text-align: center;
  }
  .container3 .gambar p {
    color: rgb(26, 26, 26);
    font-size: 13px;
    margin-left: 7vh;
    width: 35vh;
    margin-top: -6vh;
    text-align: justify;
  }

  .container4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    padding-top: 4rem;
  }
  .container4 .towe {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
  }

  .container4 .towe img {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }
  .container4 .towe .ss {
    color: white;
    position: absolute;
    margin-top: 10vh;
    width: 5vh;
    z-index: 9999;
    font-size: 35px;
    text-shadow: black;
    margin-left: 7vh;
    font-weight: 9999;
  }
  .container4 .towe .dd {
    z-index: 9999;
    color: white;
    position: absolute;
    margin-top: 15vh;
    width: 5vh;
    font-size: 35px;
    text-shadow: black;
    margin-left: 7vh;
    font-weight: 9999;
  }
  .container4 .towe p {
    color: white;
    position: absolute;
    margin-top: 25vh;
    width: 35vh;
    font-weight: 1000;
    font-size: 13px;
    text-shadow: black;
    margin-left: 7vh;
  }
  .container4 .c1 {
    height: 155px;
    position: absolute;
    width: 155px;
    margin-left: 3vh;
    margin-top: 5vh;
  }
  .whatsaap {
    display: block;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    left: 10;
    margin-top: 93vh;
    right: 0;
    z-index: 9999;
  }
  .whatsaap img {
    height: 5vh;
    width: 5vh;
  }
  /*footer*/
  .container5 {
    margin-top: 30vh;
    width: 100%;
    position: relative;
    background-color: #034b9d;
  }
  .container5 .social .tt {
    margin-left: 23vh;
  }
  .container5 .credit {
    margin-left: 18vh;
    width: 20vh;
  }
  .container5 a {
    color: black;
  }
}
