:root {
  --primary: #000000;
  --bg: rgb(235, 233, 233);
  background-blend-mode: color-burn;
}
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--bg);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(132, 220, 247, 0.479);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 9vh;
}

.navbar .navbar-logo img {
  width: 90px;
  margin-top: -6vh;
  height: 90px;
  margin-left: -10vh;
  position: absolute;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  position: absolute;
  margin-left: -140vh;
  margin-top: 7vh;
  stroke-width: 10px;
}

#hamburger-menu {
  display: none;
}
.navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  position: absolute;
  margin-left: 50vh;
  margin-top: 2vh;
}
.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: bold;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
section {
  margin: auto;
  min-height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(2) {
  background-color: aliceblue;
}
section:nth-child(3) {
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100vh;
}
section .container {
  display: block;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section:nth-child(4) {
  color: #000000;
  background-color: rgb(17, 0, 167);
  height: auto;
}

.social {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.credit {
  border-top: 1px solid aliceblue;
}
.credit a {
  color: orangered;
}
.kontak {
  padding: 1rem;
  color: aliceblue;
}
.box {
  width: 180px;
  height: 180px;
  background-color: rgb(0, 0, 156);
  border: 6px solid rgb(0, 0, 156);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10vh;
}

.box::before {
  content: Skynet Internet Solutions;
  font-family: cursive;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scale(1.6);
  border-radius: 30%;
  animation: animasi 15s ease-in-out infinite;
}
.box h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8vh;
  color: aliceblue;
}
.box h2 {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0vh;
  font-size: 15px;
  font-family: cursive;
}

@keyframes animasi {
  0% {
    transform: translateY(0) rotate(0) scale(1.6);
  }
  50% {
    transform: translateY(-150%) rotate(500deg) scale(1.6);
  }
  100% {
    transform: translateY(0) rotate(0) scale(1.6);
  }
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
/* .loader::after{
  content:"";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease;
} */
.loader img {
  animation: bounce 0.9s infinite;
}
@keyframes bounce {
  /* 10%{
    height: 50px;
    width: 50px;
  } */
  /* 30%{
    height: 50px;
    width: 40px;
  } */
  50% {
    /* height:30px;
    width:57px; */
    transform: translateY(24px);
  }
  /* 75%{
    height: 50px;
    width: 57px;
  } */
  100% {
    transform: translateY(0px);
  }
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* media query */
@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .navbar {
    height: 5vh;
    margin: auto;
    padding: 0.5rem 23%;
  }
  .navbar .navbar-logo {
    display: inline-block;
    margin-left: 1vh;
  }
  .navbar .navbar-logo img {
    width: 5vh;
    height: 5vh;
    margin-top: -2vh;
    margin-left: -8vh;
    z-index: 9999;
  }
  #hamburger-menu {
    display: inline-block;
    margin-top: -10px;
    margin-left: 40px;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 20rem;
    height: auto;
    border-radius: 20px;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 65);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .box h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8vh;
    font-size: 30px;
  }
  .box h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0vh;
    font-size: 15px;
    font-family: cursive;
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
